# SPDX-FileCopyrightText: 2026 H2Lab OSS Team
# SPDX-License-Identifier: Apache-2.0

CONFIG_ARCH_MCU_STM32U5A5=y
CONFIG_FPU_SOFTFP_ABI=y
CONFIG_STANDALONE_MODE=y
CONFIG_BUILD_TARGET_AUTOTEST=y
CONFIG_TEST_SYSCALL_FUZZ=y
CONFIG_TEST_SYSCALL_FUZZ_ITERS=512
